# Redirect all http traffic (on port 80) to https (port 443).

server {
    # Redirect from http://example.com to http://www.example.com.
    # Changing to https while changing the hostname does bad things,
    # so leave that for the next server block.
    listen 80;
    server_name $tld;
    return 301 http://$hostname$request_uri;
}

server {
    # Redirect from http://www.example.com to https://www.example.com.
    listen 80;
    server_name $hostname;
    return 301 https://$hostname$request_uri;
}