# Redirect all http traffic (on port 80) to https (port 443).

server {
    # Redirect from http://www.example.com to https://www.example.com.
    listen 80;
    server_name $hostname;
    return 301 https://$hostname$request_uri;
}